body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
    background-color: yellow;
}

div{
    color: yellow;
    width: max-content;
    padding: 60px 100px;
    background-color: black;
}